@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --bricolage: "Bricolage Grotesque", sans-serif;
  --dm-sans: "DM Sans", sans-serif;

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --orange-500: hsl(28, 100%, 52%);

  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  color: white;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--neutral-900);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  /* width: 100%; */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.logo img {
  width: 150px;
}

menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

menu img {
  width: 15px;
}

menu p {
  color: white;
  font-family: var(--dm-sans);
}

/* Search section */

.search-section {
}

.search-section h2 {
  font-family: var(--bricolage);
  font-size: clamp(3rem, 5vw + 2rem, 4rem);

  text-align: center;

  padding: 3rem 2rem;
}

.search-container {
  /* display: flex; */
  justify-content: center;

  padding: 0 5%;
}

.search-box {
  background-color: var(--neutral-600);

  border-radius: 0.8rem;

  padding: 1rem 1.5rem;

  display: flex;
  gap: 0.8rem;
}

.search-box input {
  background-color: initial;

  border: none;

  font-size: 1rem;
}

.search-box input:focus {
  border: none;
}

.search-box input[type="search"]::placeholder {
  color: var(--neutral-0);

  font-family: var(--bricolage);
  font-weight: 400;
  font-size: 1rem;
}

.search-box input[type="search"]:focus {
  outline: none;
}

.search-btn {
  background-color: var(--blue-500);

  border: none;
  border-radius: 0.8rem;

  margin-top: 1rem;
  padding: 1rem;

  text-align: center;

  width: 100%;

  font-family: var(--bricolage);
  font-size: 1rem;
  font-weight: 500;
}

.weather-widget {
  padding: 0 5%;
}

.weather-widget__card {
  /* display: flex; */
  justify-content: center;

  border-radius: 1rem;

  margin: 1rem auto;
  padding: 2rem 3rem;

  background-image: url("/assets/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-size: cover;

  max-width:968px;
}

.weather-widget__card .header {
  font-family: var(--dm-sans);

  text-align: center;
}

.main-display  {
  display: flex;
  justify-content: center;
}

.main-display .icon {
  display: flex;
  align-items: center;
}

.main-display .icon img {
  width: 50%;

  /* margin: 0 auto; */
}

.main-display span {
  font-size: 5rem;
  font-family: var(--dm-sans);
  font-style: italic;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  max-width: 968px;
  
  margin: 0 auto;
}

.data-card {
  background-color: var(--neutral-800);

  padding: 1rem;

  border-radius: .6rem;

  box-shadow: 0px -1px 0px var(--neutral-700);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data-card .label {
  font-family: var(--bricolage);
  font-size: 1rem;
}

.data-card .data-value {
  font-family: var(--dm-sans);
  font-size: 2rem;
}

@media (min-width: 768px) {
  form {
    display: flex;
    /* align-items: center; */
    gap: 1rem;
  }

  .search-box {
    width: 100%;
  }

  .search-btn {
    width: 30%;

    padding: 1rem 1.5rem;
    margin: 0;
  }
}
